/* ABOUT PAGE */
/*            */
#about-ramble {
    img {
        width: auto;
    }
}

p {
    text-align: justify;
}

img {
    border: 2px rgb(158, 191, 199) solid;
    max-width: 400px;
}


/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-about {
    position: absolute;
    top: 0;
    /* top of the page */
}

#jump-to-name-exp {
    position: absolute;
    margin-top: -8em;
}

#jump-to-more-work {
    position: absolute;
    margin-top: -2em;
}

#jump-to-commissions {
    position: absolute;
    margin-top: -2em;
}



/* Phone sized */
@media(max-width: 840px) {
    img {
        max-width: 30vw;
    }
}

@media(max-width: 520px) {
    img {
        max-width: 100%;
    }
}