/* Universal Selector */
* {
    box-sizing: border-box;
}



/* Fonts */
@font-face {
    font-family: "quicksand";
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* Formerly Zen-Maru-Gothic */
@font-face {
    font-family: "nunito";
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "naunohhloh";
    src: url(../fonts/Naunohhloh.ttf);
}

/* Gives smooth scrolling for top button */
html {
    scroll-behavior: smooth;
}



/* COLORS */
/*        */
/* https://dequeuniversity.com/color-contrast */
:root {
    --brightYellow: #f3db5c;
    --paleYellow: rgb(251, 247, 217);
    --wrapperBlue: rgb(191, 223, 223);
    /* --darkBlue: rgb(20, 60, 100); */
    /* original */
    --darkBlue: rgb(10, 45, 75);
    /* darker blue originally from people text contrast */
    /* FIX: JS and settings do not have this update */
    --offWhite: rgb(249, 247, 234);
    --wrapperRed: #eabc86;
    --redBrown: #924b14;
    --darkRedBrown: #461d06;

    --borderBlue: #7c9daa;
    --darkBlueT: 20, 60, 100;
    --headerBlueT: 158, 191, 199;
}





/* GENERAL STYLING */
/*                 */
.wrapper {
    padding: 5em 1.85em 1.85em 1.85em;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--wrapperBlue);
}

body {
    background-image: linear-gradient(var(--paleYellow), rgb(255, 255, 255));
    background-repeat: no-repeat;
    margin: 0;
}

/* Only used on home page title */
h1 {
    font-size: 2.75em;
}

p {
    font-family: nunito;
    color: var(--darkBlue);
    font-size: 1em;
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 20px;
    background-color: var(--paleYellow);
    border-left: 1px solid rgba(0, 0, 0, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-left: 1px solid rgba(0, 0, 0, .2);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aeaeae;
}

#page-header {
    width: 90%;
    margin: 0 auto 0.3em auto;
    margin-top: 70px;
    /* Top added to avoid okshlihd icon */
    padding: 0.075em 0em;

    border-radius: 0.85em 0.85em 0em 0em;
    background-color: var(--paleYellow);
    color: var(--darkBlue);
    box-shadow: 0px 0px 4px -2px var(--darkBlue);
    /* Slight contrast */

    font-family: quicksand;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.sub-header {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0.075em 0em;

    border-radius: 0em 0em 0.85em 0.85em;
    background-color: var(--darkBlue);
    color: var(--paleYellow);

    font-family: quicksand;
    text-align: center;
}

.downwards-sub-header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 3px 0px;

    border-radius: 20px 20px 0px 0px;
    background-color: var(--darkBlue);
    color: var(--paleYellow);

    font-family: quicksand;
    text-align: center;
}

/* round sub header */
.section-header {
    width: 75%;
    margin: 5em auto 0.3em auto;
    padding: 7px;

    border-radius: 25px;
    background-color: var(--darkBlue);
    color: var(--paleYellow);

    font-family: quicksand;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.section-sub-header {
    width: 50%;
    margin: 0 auto 3em auto;
    padding: 0.075em 0em;

    border-radius: 0.85em 0.85em 0em 0em;
    background-color: var(--darkBlue);
    color: var(--paleYellow);

    font-family: quicksand;
    text-align: center;
}

.flex-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    /* text-align: center; */
    /* why here? */
    img {
        width: 100%;
    }
}

/* 1/1 split */
.one-section {
    flex: 1;
    flex-direction: column;
    margin: auto;
    padding: 0 20px;
}

/* 1/2 split */
.two-sections {
    flex: 2;
    padding: 0 20px;
}

/* 1/4 split */
.four-sections {
    flex: 4;
    padding: 0 20px;
}

/* FIX: this shouldn't be in two sections for veg and people sexual stuff */
/* .two-sections p, .two-sections ul { 
    margin: 0px auto;
    margin-top: 30px;
    max-width: 700px;
    text-align: justify;
} */

#jump-to-top-button {
    padding: 0.3em 0.9em;
    border-radius: 1em;
    background-color: var(--brightYellow);
    color: var(--darkBlue);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .4);

    font-size: 0.9em;
    font-family: quicksand;
    font-weight: bold;
    text-decoration: none;

    display: inline;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 3;
    transition: 0.5s;
}

#jump-to-top-button:hover {
    transform: translateY(-0.25em);
    box-shadow: 0px 0px 10px #fff;
    background-color: #f3d43a;
    /* Not the same yellow for better contrast */
    color: #fff;
}





/* TOP NAVIGATION BAR */
/*                    */

/* OKSHLIHD ICON */
/* id goes on the li of the current page in the nav */
#current_okshlid {
    background-image: url(../images/okshlid_icon.png);
    height: 109.5px;
    /* Counters background-size */
    padding: 0px 41px;
    margin: 0px -41px;
    /* Background overflow trick, just enough width */
    background-size: 175px;
    /* Width. height auto calculated to keep aspect ratio. */
    background-position: bottom;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
}

/* Top Bar/Wrapper */
.dropdown {
    position: fixed;
    width: 100%;
    height: 55px;

    background-color: var(--brightYellow);
    color: var(--darkBlue);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .4);
    z-index: 4;
}

/* Remove Bullet Points */
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 0.85em;
    /* Cause nunito is so big */

    justify-content: center;
    padding: 0;
}

/* Big Nav Text */
nav ul li a {
    padding: 20px 1.5em 18px;
    color: var(--darkBlue);

    text-decoration: none;
    font-family: nunito;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.025em;
}

/* Subpages */
nav ul li ul {
    margin-top: -20px;
    padding-top: 45px;
    /* hides the okshlid icon */
    padding-bottom: 5px;
    display: none;
    font-size: 1em;
}

/* Subpage Text */
nav ul li ul li a {
    font-weight: lighter;
    background-color: transparent;
    padding: 0.25em 1em;
    margin: 0;
    display: block;
    /* Lets you click anywhere on its line */
}

/* Display Subpages */
nav ul li:hover ul {
    display: block;

    border-radius: 0em 0em 0.5em 0.5em;
    background-color: var(--brightYellow);
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, .2);
}

nav a:hover {
    background-color: var(--paleYellow);
    transition: 0.25s;
}

#settings {
    background-image: url(../images/settings.png);
    height: 35px;
    aspect-ratio: 1;
    background-size: contain;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
    z-index: 5;
}

#settings:hover {
    animation: settings-spin 1s 1 ease-in-out;
    cursor: pointer;
}

@keyframes settings-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#settings-window {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    background: rgba(0, 0, 0, 0.25);
    z-index: 5;
    /* nothing underneath will be clickable */
}

#settings-content {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    border: 2px solid #777;
    box-shadow: 0px 0px 4vw 5vw rgba(0, 0, 0, .2);

    padding: 0.5em 1em 0.5em 3em;
    height: 60%;
    min-height: min-content;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: quicksand;

    h3 {
        font-size: 2em;
    }

    ul {
        list-style-type: none;
        font-size: 1.5em;
    }

    ul li {
        margin: 0.5em;
        width: 60%;
        font-weight: bold;
    }
}

#settings-exit {
    display: block;
    color: var(--redBrown);
    padding-right: 10px;

    font-weight: bold;
    font-size: 40px;
    text-align: right;

    cursor: pointer;
}

/* all colors hard coded */
/* wrapperBlue, darkBlue, brightYellow, paleYellow, redBrown */
/* 0-60, 60-70, 70-80, 80-90, 90-100 */
#theme-default {
    background-image: linear-gradient(to right,
            rgb(191, 223, 223) 0%, rgb(191, 223, 223) 60%,
            rgb(20, 60, 100) 60%, rgb(20, 60, 100) 70%,
            #f3db5c 70%, #f3db5c 80%,
            rgb(251, 247, 217) 80%, rgb(251, 247, 217) 90%,
            #924b14 90%, #924b14 100%);
}

#theme-contrast {
    background-image: linear-gradient(to right,
            rgb(214, 244, 252) 0%, rgb(214, 244, 252) 60%,
            rgb(9, 39, 65) 60%, rgb(9, 39, 65) 70%,
            rgb(247, 227, 132) 70%, rgb(247, 227, 132) 80%,
            rgb(249, 247, 234) 80%, rgb(249, 247, 234) 90%,
            rgb(146, 75, 20) 90%, rgb(146, 75, 20) 100%);
}

/* wrapperBlue, darkBlue, brightYellow, paleYellow, redBrown */

#theme-sunset {
    background-image: linear-gradient(to right,
            rgb(240, 234, 183) 0%, rgb(240, 234, 183) 60%,
            rgb(107, 59, 14) 60%, rgb(107, 59, 14) 70%,
            rgb(251, 247, 217) 70%, rgb(251, 247, 217) 80%,
            rgb(209, 157, 214) 80%, rgb(209, 157, 214) 90%,
            /* wrapperRed */
            rgb(41, 23, 88) 90%, rgb(41, 23, 88) 100%);
}

#theme-plain {
    background-image: linear-gradient(to right,
            rgb(236, 236, 236) 0%, rgb(236, 236, 236) 60%,
            rgb(44, 44, 44) 60%, rgb(44, 44, 44) 70%,
            rgb(235, 213, 93) 70%, rgb(235, 213, 93) 80%,
            rgb(255, 255, 255) 80%, rgb(255, 255, 255) 90%,
            rgb(241, 240, 226) 90%, rgb(241, 240, 226) 100%);
    /* offWhite */
}

#theme-colorless {
    background-image: linear-gradient(to right,
            rgb(191, 191, 191) 0%, rgb(191, 191, 191) 60%,
            rgb(36, 36, 36) 60%, rgb(36, 36, 36) 70%,
            rgb(243, 243, 243) 70%, rgb(243, 243, 243) 80%,
            rgb(251, 251, 251) 80%, rgb(251, 251, 251) 90%,
            rgb(146, 146, 146) 90%, rgb(146, 146, 146) 100%);
}



/* FOOTER */
/*        */
footer {
    display: flex;
    flex-direction: row;
    margin: 3em 0 0 0;
    padding: 2em 0;
    justify-content: center;

    font-family: nunito;
    background-color: var(--brightYellow);
    color: var(--darkBlue);
    box-shadow: 0px -3px 5px rgba(0, 0, 0, .2);
}

footer p {
    border-right: 1px solid var(--darkBlue);
    width: 20vw;
    font-size: 14px;
    margin: 0;
    padding: 0em 2em;
    line-height: 150%;
}

#form-content {
    width: 30vw;
    font-size: 14px;

    display: grid;
    /* Grid area is assumed */
    text-align: right;

    grid-template-rows: repeat(2, auto);
    gap: 10px 1em;

    grid-template-areas:
        "mtext ctext"
        "mbox cbox"
        ". send"
    ;
}

footer textarea {
    color: var(--darkBlue);
    background-color: var(--offWhite);
    height: 4em;
    font-family: nunito;
    font-size: 0.9em;

    resize: none;
}

/* The submit button */
footer input {
    color: var(--darkBlue);
    background-color: var(--offWhite);
    border: 1px solid #777;
    height: 2em;

    font-family: nunito;
    font-size: 0.9em;
}

#send {
    grid-area: send;
    width: 40%;
    background-color: #ccc;
    text-transform: uppercase;
}

#instagram {
    text-decoration: none;
    color: blue;
    padding: 0em 0.5em 0.25em 0.25em;
    margin: 0 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
}

#instagram:hover {
    border: 1px solid var(--darkBlue);
    background-color: var(--paleYellow);
}





/* COLLAPSING SECTIONS (People and Language) */
/*                                           */
.collapse {
    cursor: pointer;
    /* background-color: #95b6c3; */
    /* old (so pretty) */
    background-color: rgba(var(--darkBlueT), 0.3);
    color: var(--darkBlue);
    border: none;
    text-decoration: underline;

    padding: 1em 50px;
    /* collapse people-fade-coll + one-section padding L/R */
    width: 95vw;
    font-weight: 600;

    font-size: 1.1em;
    font-family: quicksand;
    text-align: left;
}

.collapse-inside {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--darkBlue);
    border: none;
    text-decoration: underline;

    display: block;
    padding: 0;

    font-family: quicksand;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.collapse-inside+.collapse-content {
    border-left: 2px solid var(--darkBlue);
    border-radius: 0 20px;

    padding-left: 1em;
    margin-top: -15px;
    padding-top: 5px;
    padding-bottom: 1em;
    margin-left: -1px;
}

.collapse:hover, .collapse.active:hover {
    cursor: pointer;
    background-color: #a9cfd8;
    /* old (so pretty) */
    background-color: rgba(var(--headerBlueT), 0.75);
}

.collapse-inside.active {
    text-decoration: none;
}

.collapse-inside:hover, .collapse-inside.active:hover {
    cursor: pointer;
}

.collapse.active {
    background-color: var(--wrapperBlue);
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapse::after {
    content: '\002B';
    /* Unicode character for "+" */
    float: right;
    font-size: 1.25em;
    margin-left: 5px;
    color: var(--darkBlue);
}

.collapse.active::after {
    content: "\2212";
    /* Unicode character for "-" */
}

.collapse-inside::after {
    content: '\2304';
    /* "^" */
    float: right;
    color: var(--darkBlue);

    font-size: 1.5em;
    font-weight: lighter;
    margin-left: 5px;
    transform: translateY(-0.575em) translateX(0.25em);

}

.collapse-inside.active::after {
    content: "\2303";
    /* "v" */
    transform: translateX(0.25em);
}

.collapse-content {
    display: none;
}

#expand-all {
    font-family: nunito;
    font-size: 1em;
    font-weight: bold;

    margin-bottom: 1em;
    padding: 0.5em;
    padding-right: 2em;

    background-color: var(--paleYellow);
    color: var(--darkBlue);
    box-shadow: 0px 0px 10px rgb(20, 60, 100, 0.15);
    border: 1px solid var(--darkBlue);
    border-radius: 20px 0px 0px 20px;
    justify-content: center;
    /* -webkit-mask-image: radial-gradient(circle 10px at 0 100%, transparent 0, transparent 20px, black 21px); */

    display: inline;
    position: fixed;
    top: 20%;
    right: -1em;
    z-index: 3;
    /* .dropdown z-index is 4 */
}

#expand-all::before {
    content: "Expand";
}

#expand-all.active::before {
    content: "Collapse";
}

#expand-all:hover {
    background-color: #a9cfd8;
    box-shadow: inset 0px 0px 5px rgb(20, 60, 100, 0.25);
}





/* GENERAL STYLING OPTIONS */
/*                         */
.no-wrapper {
    margin: auto -1.85em !important;
    /* negative padding not supported */
}

.nnhlh {
    font-family: naunohhloh;
    font-size: 1.25em;
    letter-spacing: 0.2em;
}

.light {
    font-weight: lighter;
}

.heavy {
    font-weight: bold !important;
}

.sup {
    display: inline;
    position: relative;
    vertical-align: top;
    top: -2px;
    padding-left: 2px;
    font-size: 0.75em;
}

.tiny {
    font-size: 0.9em !important;
}

.indent {
    margin-left: 2em;
    line-height: 2em;
}

.float-left {
    float: left;
    padding-right: 1em;
}

.float-right {
    float: right;
    padding-left: 1em;
}

.clear-float {
    clear: both;
}

.centered {
    text-align: center !important;
    /* Override */
}

.left-align {
    text-align: left !important;
    /* Override */
}

.text-justify {
    text-align: justify;
}

.smaller-img {
    padding: 0 15%;
}

/* 1px full screen width */
.solid-blue-line {
    /* Used at top and bottom of People page */
    width: 95vw;
    border-top: 1px solid var(--darkBlue);
    border-bottom: none;
    margin: 0;
}

.gap2 {
    padding: 1px;
    margin: 1em;
}

.gap5 {
    padding: 1px;
    margin: 2.5em;
}

.gap8 {
    padding: 1px;
    margin: 4em;
}

.blue-link {
    text-decoration: none;
    color: blue;
}

.blue-link:hover {
    font-weight: bold;
}

/* Part of a set */
.glow-on-entry {
    animation: pageLoadGlowAnimation ease 1.15s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/?ref=ml_lbp */
@keyframes pageLoadGlowAnimation {
    0% {
        transform: scale(95%);
        -webkit-text-stroke: 1px var(--paleYellow);
        /* text outline */
    }

    50% {
        transform: scale(103%);
        -webkit-text-stroke: 1px var(--paleYellow);

    }

    100% {
        /* opacity: 1; */
        /* color: yellow; */
        text-shadow: none;
        transform: scale(100%);

    }
}





/* Nav Checkbox on smaller screens */
#ham {
    display: none;
}

#ham-label {
    display: none;
}





/* Slighly-less-than-Large Sized Screens */
@media(max-width: 1290px) {
    .nav-details {
        display: none;
    }

    /* good enough */
    nav a {
        position: relative;
        z-index: 4;
    }

    nav ul li:hover ul {
        box-shadow: none;
    }

    nav ul li ul {
        position: absolute;
        z-index: 1;
    }

    #settings-content {
        padding-left: 0;

        h3 {
            padding-left: 1em;
        }

        ul li {
            margin: 0.5em;
            width: 95%;
        }
    }

    footer p, form {
        padding: 0 10px;
        width: 30vw;
    }

    #form-content {
        max-width: 35vw;
    }
}

/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {
    .smaller-img {
        padding: 0;
    }

    /* OKSHLIHD ICON */
    #current_okshlid {
        background-image: none;
        height: auto;
        margin-bottom: 1em;
    }

    nav {
        position: fixed;
        left: 0;
        top: 3em;
        background-color: var(--brightYellow);
    }

    nav ul {
        display: none;
        padding-top: 1em;
    }

    nav ul li {
        margin-bottom: 2em;
    }

    /* Just for the sections */
    nav ul li ul li {
        margin-bottom: 0;
    }

    /* highlight */
    nav ul li a {
        padding: 0 1.5em;
        display: block;
    }

    /* highlight */
    nav ul li ul li a {
        padding: 0.1em 1.5em;
    }

    nav a:hover {
        background-color: var(--paleYellow);
    }

    #settings-content {
        padding: 0;
        width: 90%;

        h3 {
            font-size: 1.5em;
        }

        ul {
            font-size: 1.25em;
            padding-left: 1em;
        }

        ul li {
            width: 90%;
        }
    }

    #ham-label {
        display: flex !important;
        position: absolute;
        left: 30px;
        top: -7px;

        cursor: pointer;
        font-size: 3em;
        margin: 0;
    }

    #ham:checked~nav ul {
        display: block;
        height: 100vh;
        overflow: scroll;
        background-color: var(--brightYellow);
        box-shadow: 0px 8px 7px rgba(0, 0, 0, .4);
    }

    #ham:checked~nav ul li ul {
        position: relative;
        margin: 0;
        padding-top: 0;
        height: 100%;
        overflow: hidden;
        box-shadow: none;

    }

    .nav-details {
        display: inline;
    }

    .wrapper {
        width: 100vw;
        /* padding: 0.5em; */
        /* This is being so weird, I get a white gap if it's not left alone */
    }

    #home-hero {
        width: 100%;
    }

    .flex-style {
        display: block;
    }

    .collapse {
        width: 100vw;
    }

    .solid-blue-line {
        width: 100vw;
    }

    .home-carousel-arrow {
        top: 15%;
    }

    .carousel-last {
        left: 0%;
    }

    .carousel-next {
        right: 0%;
    }

    footer {
        display: block;
        justify-content: center;
    }

    footer p, form {
        width: 100%;
        padding: 1em;
    }

    footer p {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-right: none;
    }

    #form-content {
        grid-template-columns: 10vw 50vw;
        width: 70vw;
        max-width: 100vw;
        margin: auto;
    }

}

/* Phone sized */
@media(max-width: 520px) {

    .one-section {
        padding: 0;
    }

    .text-justify {
        text-align: left;
    }

    .downwards-sub-header {
        width: 100%;
    }

    footer {
        padding: 2em 1em;
    }

    #form-content {
        grid-template-columns: auto;
    }
}