/* LANGUAGE PAGE */
/*               */
.transExamp {
    display: block;
    height: 80px;
    margin-bottom: 2em;
    padding: 0em 1em;
}

#translator-window {
    display: block;
    text-align: center;
}

#translator-window iframe {
    overflow: hidden;
    height: 50vh;
    width: 67vw;
    border: 3px var(--borderBlue) solid;
    border-radius: 20px;
}

#expand-language-range {
  height: max-content;
}

#expand-all {
    position: sticky;
    /* only moved within the range of the container */
    margin-left: calc(100% - 185px);
    /* something like that */
    /* no other positioning worked </3 */
    width: 185px;
    padding-right: 0.5em;
    border-radius: 20px;
    /* makes it look similar enough haha */
}


.lang-coll {
    border-top: 1px solid var(--darkBlue);
    width: 100%;

    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        font-family: nunito;
        color: var(--darkBlue);
        text-align: left;
    }

    img {
        border: 2px solid var(--borderBlue);
        width: 25%;
    }
}

#red-section {
    transform: skewY(-3deg);
    background-color: var(--wrapperRed);
    margin: 4em -30px 8em -30px;
    /* Wrapper counteract (+bottom) */
}

.red-section-content {
    transform: skewY(3deg);
    /* tilt canceller */
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 1.85em;
    padding-right: 1.85em;

    p {
        color: var(--darkRedBrown);
        text-align: justify;
    }

    ul {
        padding-left: 16px;
    }

    li {
        color: var(--darkRedBrown);
        margin-bottom: 0.5em;
        text-align: justify;
        font-family: nunito;
    }
}

#red-sec-header {
    margin: 0em 4em .6em 4em;
    padding: 3px 8px 8px 8px;

    width: 75%;
    max-width: 75vw;
    display: flex;
    justify-self: center;
    justify-content: center;

    border-radius: 25px 25px 0px 0px;
    background-color: var(--redBrown);
    /* color: var(--paleYellow); */
    color: var(--redSecTable);
    box-shadow: 0px 0px 4px -2px var(--darkRedBrown);
    /* slight contrast */

    font-family: quicksand;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#red-sec-divider {
    border-bottom: 5px dashed var(--redBrown);
    margin: 0em auto 2em;
    max-width: 80vw;
}

.red-table {
    font-family: nunito;

    caption {
        padding: 0.5em 0.75em;
        font-weight: bold;
        color: var(--darkRedBrown);
    }

    table {
        margin: auto;
        /* background-color: var(--paleYellow); */
        /* #feebc9 was a real nice one */
        background-color: var(--redSecTable);
        color: var(--darkRedBrown);
        border: 3px solid var(--redBrown);
        border-collapse: collapse;
    }

    tr, th, td {
        border: 2px solid var(--redBrown);
        padding: 0em 10px;
        padding-bottom: 2px;
    }

    /* 'sound' column */
    tr :nth-of-type(2) {
        font-weight: bold;
    }

}

.alpha-symbol {
    padding-top: 4px;
    font-size: 1.5em !important;
    text-align: center;
    padding: 0;
}

.alpha-sound {
    font-size: 1.25em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--darkRedBrown);
}

.alpha-sound:hover {
    color: var(--redBrown);
}

/* negates bolded alphabet column */
#grammar {
    width: 100%;
    padding-bottom: 10px;

    table {
        width: 100%;
    }

    tr :nth-of-type(2) {
        font-weight: normal;
    }
}

/* grid template areas not needed but helpful for understanding */
.slang {
    /* width: 85%; */
    margin: auto;
    display: grid;
    grid-template-columns: 33% 5% 62%;
    grid-template-areas: "s a m";

    border-left: 1px solid var(--darkBlue);
    border-right: 1px solid var(--darkBlue);
    padding: 0 2em;
}

.saying {
    grid-area: s;
    text-align: left;

    /* fill the rest of the line with dots */
    overflow: hidden;
}

/* fill the rest of the line with dots */
.saying::after {
    content: "· · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · ";
    flex-grow: 1;
    margin-left: 1em;
    white-space: nowrap;
}

.arrow {
    grid-area: a;
    text-align: center;
}

.meaning {
    grid-area: m;
    text-align: justify;
}

#numbers {
    display: grid;
    grid-template-columns: 35% 25% 35%;
    margin-top: 3em;
    gap: 2.5%;
}

#numbers img {
    width: 175px;
    max-width: 100%;
    border: 2px solid var(--borderBlue);
    margin: auto;
    display: flex;
    justify-content: center;
}

#idauhl-img {
    width: 175px;
    margin: 1em;
    float: left;
    border: 2px solid var(--redBrown);
}

/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-translator {
    position: absolute;
    top: 0;
    /* top of the page */
}

#jump-to-lang-structure {
    position: absolute;
    margin-top: -9em;
}

#jump-to-slang {
    position: absolute;
    margin-top: -9em;
}

#jump-to-numbers {
    position: absolute;
    margin-top: -9em;
}

#jump-to-idauhl {
    position: absolute;
    margin-top: -8em;
}




/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {
    .lang-coll {
        img {
            width: 50%;
        }
    }

    .lang-coll img {
        /* width: 80%; */
        padding-bottom: 1em;
    }

    #alphabet {
        margin: 0em;
    }

    .red-section-content {
        border-left: none;
        border-right: none;
        /* padding: 0; */
        grid-template-columns: 25% 10% 65%;
    }

    /* align right instead of left. next to arrow. */
    .saying {
        text-align: right;
        overflow: hidden;
    }

    /* no dots */
    .saying::after {
        content: "";
        margin-left: 0;
    }

    .flex-style #numbers {
        display: block;
    }

    #numbers {
    grid-template-columns: 30% 35% 30%;
}

    #numbers img {
        max-height: 80vh;
        object-fit: contain;
    }
}

/* Phone sized */
@media(max-width: 520px) {
    .transExamp {
        height: 200px;
    }

    #translator-window iframe {
        width: 85vw;
    }

    #red-sec-header {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
    }

    #red-sec-divider {
        max-width: 100vw;
    }

    .red-table {
        margin-left: -1.85em;
        margin-right: -1.85em;

        p {
            margin: 2em;
        }
    }

    #grammar {
        width: auto;
    }

    .slang {
        /* slightly bigger slang than medium screens */
        grid-template-columns: 30% 10% 60%;
    }

    #numbers {
        display: block;
        width: 100%;

        img {
            width: 50%;
            display: flex;
            margin: auto;
        }
    }
}