/* LANGUAGE PAGE */
/*               */
.transExamp {
    display: block;
    height: 80px;
    margin-bottom: 2em;
    padding: 0em 1em;
}

#translator-window {
    display: block;
    text-align: center;
}

#translator-window iframe {
    overflow: hidden;
    height: 50vh;
    width: 67vw;
    border: 5px rgb(158, 191, 199) solid;
    border-radius: 20px;
}

.lang-coll {
    border-top: 1px solid var(--darkBlue);
    width: 100%;

    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        font-family: nunito;
        color: var(--darkBlue);
        text-align: left;
    }

    img {
        width: 25%;
    }
}

#red-section {
    transform: skewY(-3deg);
    background-color: var(--wrapperRed);
    margin: 4em -30px 8em -30px;
    /* Wrapper counteract (+bottom) */
}

.red-section-content {
    transform: skewY(3deg);
    /* tilt canceller */
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;


    p {
        color: var(--darkRedBrown);
        text-align: justify;
    }

    li {
        color: var(--darkRedBrown);
        margin-bottom: 0.5em;
        text-align: justify;
        font-family: nunito;
    }
}

#structure-header {
    margin: 0em 4em .6em 4em;
    padding: 3px 8px 8px 8px;

    border-radius: 25px 25px 0px 0px;
    background-color: var(--redBrown);
    color: var(--paleYellow);
    box-shadow: 0px 0px 4px -2px var(--darkRedBrown);
    /* slight contrast */

    font-family: quicksand;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#structure-divider {
    border-bottom: 5px dashed var(--redBrown);
    margin: 0em 4em 2em;
}

.red-table {
    font-family: nunito;

    caption {
        padding: 0.5em 0.75em;
        font-weight: bold;
        color: var(--darkRedBrown);
    }

    table {
        margin: auto;
        background-color: var(--paleYellow);
        /* #feebc9 was a real nice one */
        color: var(--darkRedBrown);
        border: 3px solid var(--redBrown);
        border-collapse: collapse;
    }

    tr, th, td {
        border: 2px solid var(--redBrown);
        padding: 0em 10px;
        padding-bottom: 2px;
    }

    /* 'sound' column */
    tr :nth-of-type(2) {
        font-weight: bold;
    }

    .alpha-symbol {
        padding-top: 4px;
    }
}

.alpha-symbol {
    font-size: 1.5em !important;
    text-align: center;
    padding: 0;
}

/* negates bolded alphabet column */
#grammar {
    width: 100%;
    padding: 0px 30px 10px;

    table {
        width: 100%;
    }

    tr :nth-of-type(2) {
        font-weight: normal;
    }
}

.alpha-sound {
    font-size: 1.25em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--darkRedBrown);
}

.alpha-sound:hover {
    color: var(--redBrown);
}

#slang {
    width: 85%;
    margin: auto;
    font-family: nunito;
    color: rgb(20, 60, 100);

    display: grid;
    grid-template-columns: 33% 5% 62%;
    grid-template-areas: "s a m";
}

#saying {
    grid-area: s;
    text-align: right;
}

#arrow {
    grid-area: a;
    text-align: center;
}

#meaning {
    grid-area: m;
}

#numbers {
    display: flex;
    padding: 0em 4em;
}

#numbers img {
    width: 80%;
}

/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-translator {
    position: absolute;
    top: 0;
    /* top of the page */
}

#jump-to-lang-structure {
    position: absolute;
    margin-top: -9em;
}

#jump-to-slang {
    position: absolute;
    margin-top: -9em;
}

#jump-to-numbers {
    position: absolute;
    margin-top: -9em;
}

#jump-to-idauhl {
    position: absolute;
    margin-top: -12em;
}



/* Slighly-less-than-Large Sized Screens */
@media(max-width: 1290px) {

    /* Makes sure it doesn't get too small */
    .red-section-content p, .red-section-content li {
        margin: 0em;
    }
}

/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {
    .lang-coll {
        img {
            width: 50%;
        }
    }

    .lang-coll img {
        /* width: 80%; */
        padding-bottom: 1em;
    }

    #alphabet {
        margin: 0em;
    }

    .flex-style #numbers {
        display: block;
    }

    #numbers img {
        max-height: 80vh;
        object-fit: contain;
    }
}

/* Phone sized */
@media(max-width: 520px) {
    .transExamp {
        height: 200px;
    }

    #translator-window iframe {
        width: 85vw;
    }

    #structure-header, #structure-divider {
        margin: 0em 0em .6em 0em;
    }

    #red-section .flex-style {
        display: block;
    }

    .red-section-content ul {
        padding: 0;
    }

    /* alphabet caption */
    .red-section-content .tiny {
        margin-top: 1.5em;
    }

    #grammar-header {
        max-width: 80vw;
        margin-top: 2em;
    }

    .grammar-tilt {
        margin: 0;
    }

    #slang {
        width: 100%;
        gap: 1em;
        padding-right: 1em;
        /* good enough */
    }

    #numbers {
        padding: 0;
    }

    /* idauhl and alphabet footer */
    .flex-style .red-section-content p {
        padding-left: 0;
        padding-right: 0;
    }
}