/* PEOPLE PAGE */
/*             */

/* TO FIX: add this blue to all blue on blue text segments */
/* Seeing if I like this darker blue */
.people-fade-coll p, .people-fade-coll ul li {
    /* color: rgb(10, 45, 75); */
}

.people-fade-coll {
    display: flex;

    background-image: linear-gradient(rgb(191, 223, 223), #95b6c3);
    padding: 30px 30px 60px 30px;
    border-bottom: 1px solid var(--darkBlue);

    gap: 0 2em;

    img {
        width: 20%;
        height: auto;
        align-self: center;
    }

    ul {
        padding-left: 20px;
    }

    /* same as .lang-coll li */
    li {
        font-family: nunito;
        color: var(--darkBlue);
        text-align: left;
        font-size: 18px;
    }

    .one-section, .two-sections {
        padding: 0;
    }

    .one-section img {
        width: 100%;
        padding: 30px;
    }

    .flex-style p {
        padding: 0 30px;
        margin: 0;
    }
}

/* For the dropdowns with two fade sections (ex. Head Anantomy) */
.people-fade-extention {
    margin-top: -2px;
    /* -2px overlaps the dark blue border with this one */
    border-top: 3px solid var(--wrapperBlue);
}

.people-section-title {
    margin: 0;
    padding: 1em 0em;
    font-weight: 600;

    font-size: 1.25em;
    font-family: quicksand;
    color: var(--darkBlue);
    text-align: center;

    background-color: var(--paleYellow);
}

.people-section-title+p {
    margin: 1em 50px;
}

/* Societal punishments image column */
.flex-style section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

    img {
        width: 100%;
    }
}

#head-anatomy {
    padding: 0px 40px;
}

#head-anatomy .one-section {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    margin-top: 0px;
    border-left: 1px solid var(--darkBlue);
}

/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-anatomy {
    position: absolute;
    margin-top: -5em;
}

#jump-to-expression {
    position: absolute;
    margin-top: -5em;
}

#jump-to-tools {
    position: absolute;
    margin-top: -5em;
}

#jump-to-law {
    position: absolute;
    margin-top: -5em;
}



/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {
    .people-fade-coll .flex-style {
        display: block;
    }

    .people-fade-coll {
        width: 100vw;
    }

    .people-fade-coll .one-section img {
        /* width: 50%; */
        max-height: 40vh;
        object-fit: contain;
    }
}