/* PEOPLE PAGE */
/*             */
.people-fade-coll {
    display: block;

    font-family: nunito;
    color: var(--darkBlue);
    /* background-image: linear-gradient(rgb(191, 223, 223), #95b6c3); */
    background-image: linear-gradient(var(--wrapperBlue), rgba(var(--darkBlueT), 0.25));
    padding: 30px 30px 60px 30px;
    border-bottom: 1px solid var(--darkBlue);

    width: 100%;
    height: 100%;
    min-height: 390px;
    /* 300px max flex image size + 30px top padding + 60px bottom padding */

    ul {
        padding-left: 20px;
    }

    li {
        text-align: left;
    }

    p {
        margin: 0;
        padding: 0;
    }

    img {
        border: 2px solid var(--borderBlue);
    }
}

/* For the dropdowns with two fade sections (ex. Head Anantomy) */
.people-fade-extention {
    margin-top: -2px;
    /* -2px overlaps the dark blue border with this one */
    border-top: 3px solid var(--wrapperBlue);
}

.people-section-title {
    margin: 0;
    padding: 1em 0em;
    font-weight: 600;

    font-size: 1.25em;
    font-family: quicksand;
    color: var(--darkBlue);
    text-align: center;

    background-color: var(--paleYellow);
}

.people-section-title+p {
    margin: 1em 50px;
}

/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-anatomy {
    position: absolute;
    margin-top: -5em;
}

#jump-to-expression {
    position: absolute;
    margin-top: -5em;
}

#jump-to-tools {
    position: absolute;
    margin-top: -5em;
}

#jump-to-law {
    position: absolute;
    margin-top: -5em;
}
