/* PEOPLE PAGE */
/*             */
.people-fade-coll {
    display: flex;

    font-family: nunito;
    color: var(--darkBlue);
    /* background-image: linear-gradient(rgb(191, 223, 223), #95b6c3); */
    background-image: linear-gradient(var(--wrapperBlue), rgba(var(--darkBlueT), 0.25));
    padding: 30px 30px 60px 30px;
    border-bottom: 1px solid var(--darkBlue);

    gap: 0 2em;
    width: 100%;

    /* images and image sections */
    .ppl-section-images {
        width: 20vw !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* align-self: start; */
    }

    ul {
        padding-left: 20px;
    }

    li {
        text-align: left;
    }

    .one-section, .two-sections {
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

/* For the dropdowns with two fade sections (ex. Head Anantomy) */
.people-fade-extention {
    margin-top: -2px;
    /* -2px overlaps the dark blue border with this one */
    border-top: 3px solid var(--wrapperBlue);
}

.people-section-title {
    margin: 0;
    padding: 1em 0em;
    font-weight: 600;

    font-size: 1.25em;
    font-family: quicksand;
    color: var(--darkBlue);
    text-align: center;

    background-color: var(--paleYellow);
}

.people-section-title+p {
    margin: 1em 50px;
}

/* Societal punishments image column */
.flex-style section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

    img {
        width: 100%;
    }
}

#head-anatomy {
    text-align: left;

    .one-section {
        margin-top: 0px;
        border-left: 1px solid var(--darkBlue);

        img {
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        p {
            margin: 0;
            padding: 0 1em;
        }
    }
}

/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-anatomy {
    position: absolute;
    margin-top: -5em;
}

#jump-to-expression {
    position: absolute;
    margin-top: -5em;
}

#jump-to-tools {
    position: absolute;
    margin-top: -5em;
}

#jump-to-law {
    position: absolute;
    margin-top: -5em;
}



/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {

    .people-fade-coll {
        display: block;
        
        /* images and image sections */
        .ppl-section-images {
            float: left;
            margin: 1em;
            margin-left: 0;
        }

        /* originally right aligned images don't float left */
        p+.ppl-section-images, p+section{
            float: none;

            margin-right: 0;
            display: flex;
            justify-self: right;
        } 

    }

    /* counters the typical block display of flex style at 840px */
    #head-anatomy .one-section {
        display: grid;
        grid-template-columns: 30% 60%;
        border-left: none;

        img {
            padding-bottom: 2em;
        }

    }
}