/* STORY PAGE */
/*            */
#story-grid-wrapper {
    display: grid;
    grid-template-columns: 15% 15% 65%;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
        "sbar img info"
        "sbar img story"
    ;
    grid-gap: 2.5%;
}

#story-list-of-stories {
    grid-area: sbar;
    font-family: quicksand;
    color: var(--darkBlue);
    background-color: rgba(var(--headerBlueT), 1);
    border: 2px var(--borderBlue) solid;
    border-radius: 10px;
    text-align: center;

    ul {
        padding: 0;
        list-style-type: none;
    }

    ul li {
        margin: 10px 0px;
        padding: 0em 0.5em;
        border-radius: 10px;
    }

    ul li:hover {
        transition: 0.5s;
        background-color: var(--paleYellow);
    }
}

#bar-title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

#story-image {
    grid-area: img;
}

#story-image img {
    border: 2px var(--borderBlue) solid;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10%;
}

#story-story {
    grid-area: story;
    text-align: justify;
    padding: 0 1em;
}

/* Sub-Grid for chapter navigation buttons */
#story-header-wrapper {
    grid-area: info;
    display: grid;
    padding: 0 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "last chapters next"
        "title title title"
    ;
    gap: 0 2em;
}

#story-title {
    grid-area: title;

    .downwards-sub-header {
        margin-top: 1em;
    }
}

/* ALL CHAPTER BUTTON AND DROPDOWN */
/* https://codepen.io/remilaudanski/pen/gbBGyN?editors=1100 */
/* input selector */
.story-chapter-button {
    padding: 3px 15px;
    color: var(--darkBlue);
    background-color: rgb(178, 210, 214);
    border: 2px var(--darkBlue) solid;
    border-radius: 20px;
    box-shadow: 0px 0px 8px -2px var(--borderBlue);

    font-family: quicksand;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.story-chapter-button:hover {
    background-color: rgba(var(--darkBlueT), 0.5);
    color: var(--paleYellow);
}

#lastChapter {
    grid-area: last;
}

#nextChapter {
    grid-area: next;
}

#allChapters {
    position: relative;
    opacity: 0;
    height: 0px;
}

#story-all-chapters {
    grid-area: chapters;
    width: 100%;
    height: 30px;
}

#chapter-list {
    position: absolute;
    height: 0px;
    padding: 0.5em 0;

    font-family: quicksand;
    font-weight: bold;
    letter-spacing: 0.1em;
    /* font-size: 14px; */

    background-color: #b2d2d6;
    box-shadow: 0px 5px 5px 0px var(--borderBlue);
    border: 2px var(--darkBlue) solid;
    border-radius: 10px;

    text-align: center;
    transition: height .4s ease;
    position: absolute;
    opacity: 0;

    li {
        color: var(--darkBlue);
        padding: 4px;
        list-style: none;
    }

    li:hover {
        background-color: var(--paleYellow);
        color: var(--borderBlue);
    }
}

#allChapters:checked+#chapter-list {
    height: max-content;
    opacity: 1;
    width: 100%;
    position: relative;
    margin: -1em auto;
}



/* JUMP TO POSITION FIXES */
/*                        */
#jump-to-characters {
    position: absolute;
    top: 0;
    /* top of the page */
}

#jump-to-stories {
    position: absolute;
    top: 0;
    /* top of the page */
}



/* Slighly-less-than-Large Sized Screens */
@media(max-width: 1290px) {

    /* More space for a third row */
    #story-grid-wrapper {
        grid-template-rows: 160px 1fr;
    }

    #story-header-wrapper {
        padding: 0px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 10vw);
        grid-template-areas:
            ". chapters chapters chapters ."
            /* not centered but who cares */
            "last last . next next"
            "title title title title title"
        ;
    }

    #story-title {
        margin: 0em;
    }

    .story-chapter-button {
        margin: 0px 1em;
        font-size: 0.8em;
        padding: 0.25em 1em;
    }

    #allChapters {
        margin: 0;
    }
}

/* Medium sized */
/* Screens under 840 get a one column set of images */
/* Something weird happens to the alphabet between 840 and 800... not sure why */
@media(max-width: 840px) {
    #story-grid-wrapper {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 25vh 80px 1fr;
        grid-template-areas:
            "img img"
            "sbar info"
            "sbar story"
        ;
        grid-gap: 2em 1em;
        justify-content: space-between;
    }

    #story-image img {
        height: 20vh;
        object-fit: contain;
        border: 2px solid rgba(0, 0, 0, 0);
        justify-content: center;
    }

    #story-image {
        display: flex;
        margin: auto;
        gap: 0em 1em;
    }

    #story-header-wrapper {
        padding: 0px 30px;
        grid-template-columns: repeat(5, 1fr);
        gap: 1em;
    }

    #story-list-of-stories {
        grid-area: sbar;
        padding: 0px 0em;
    }
}